<h1>Restaurant list</h1>

<ul>
<% @restaurants.each do |restaurant| %>
<li><%= link_to restaurant.name, restaurant %></li>
<% end %>
</ul>

<%= link_to "Create a new restaurant", new_restaurant_path,  class: "btn btn-primary" %>
